body {
    background: #444444;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
}

button {
    bottom: 10px;
    margin-left: 1em;
}

.button_back {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_back:hover {
    background-color: #161616;
}

.button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #389b3b;
}

canvas {
    position: fixed;
    background: #c42b2b;
    height: 30vh;
    width: 30vh;
    right: 0px;
    bottom: 0px;
}

.base {
    width: 100vmax;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.target {
    position: fixed;
    pointer-events: none;
}

.tMoving {
    height: 10vmax;
    top: 16vmax;
    left: 20vw;
}

.tStatic {
    height: 70%;
    transform: translate(-50%);
    left: 50%;
}

.scope {
    pointer-events: none;
}

.sMoving {
    height: 10%;
}

.sStatic {
    height: 50%;
}

.top {
    cursor: none;
    height: 70vh;
    width: 100vw;
}

.bottom {
    background-color: #4e7e80;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    left: 0;
    right: 0;
    padding: 1%;
}

/* Pistetaulukko */
#scoreTable {
    margin-top: 1em;
    margin-left: 1em;
    table-layout: fixed;
    width: 40%;
    text-align: center;
    font-weight: bold;
    max-height: 125px;
}

th {
    text-align: center;
}

#scoreTable,
th,
td {
    border: 2px solid #000;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

.blank_row {
    background-color: #4e7e80;
}

.noBorder {
    border: none;
}

.hidden-toggle {
    display: none;
}

#mainMenu {
    text-align: center;
    color: #f8f8f8;
}

.issfLogo {
    width: 100px;
    height: auto;
}

.issfLogo:hover {
    width: 103px;
    height: auto;
    cursor: pointer;
}

.noBulletsLeft {
    animation-name: colorChange;
    animation-duration: 1.5s;
    padding: 0px;
}

@keyframes colorChange {
    25% {
        color: red;
    }
    50% {
        color: black;
    }
    100% {
        color: red;
    }
}

.newPersonalBest {
    animation-name: colorChangePB;
    animation-duration: 4s;
    border: 2px solid #000;
    border-collapse: collapse;
    font-size: 30px;
}
@keyframes colorChangePB {
    0% {
        color: black;
    }
    25% {
        color: yellow;
    }
    50% {
        color: black;
    }
    100% {
        color: yellow;
    }
}
